@using TNTHelper
@using Mybrus.Extensions

@model IEnumerable<EFColuc.xProduct>
@{
    ViewBag.Title = "Product Managment";
    var imgPath = Url.Content(Mybrus.Controllers.BaseController.ImagePath);
}

<div class="mt30l15r10">
    <h2 class="text-center caption">@ViewBag.Title</h2>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Brand
            </th>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Length
            </th>
            <th>
                Size
            </th>
            <th>
                Color
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                
                <td>
                    @(item.price.ToString().ToMoney())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.length)
                </td>
                <td>
                    @(string.Join("-", item.GetSizes()))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { pid = item.productid, lid = item.langid}) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.productid }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.productid })
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-center">
                    @foreach (var img in item.GetImages())
                    {
                        <img class="xSize100" src="@(imgPath + img)"
                             onerror="TNT.Common.ImageError(this);" />
                    }
                </td>
            </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>
</div>