<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Health&amp;Beauty</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lt IE 9]>
        <script src="~/Content/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body class="frontpage">
    <div id="top"></div>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#top">Health<span class="highlight">&amp;</span>Beauty</a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs"><span></span><span></span><span></span></div>
                    <ul id="mainmenu" class="nav menu sf-menu responsive-menu superfish">
                        <li class="">
                            <a href="#features">Features</a>

                        </li>
                        <li class="">
                            <a href="#schedule">Schedule</a>
                        </li>
                        <li class="">
                            <a href="#staff">Staff&amp;Services</a>
                        </li>
                        <li class="">
                            <a href="#portfolio">Gallery</a>

                        </li>
                        <li class="">
                            <a href="#prices">Prices</a>
                        </li>
                        <li class="">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

   @RenderBody()

    

    <footer id="footer" class="dark_section">
        <div class="container">
            <div class="row">

                <div class="block widget_text col-md-3 col-sm-4 to_animate">
                    <h3>Contact Info</h3>
                    <p>
                        65 Santa Monica Blvd, LA, CA 97845, US<br>
                        <span><strong>Phone:</strong> </span>+91 544 567 8943<br>
                        <span><strong>Email:</strong> </span>
                        <a href="mailto:info@company.com">info@company.com</a><br>
                    </p>
                </div>

                <div class="block subscribe col-md-3 col-sm-4 to_animate">
                    <h3>Newsletter</h3>
                    <p>Please, subscribe to our latest news to be updated.</p>
                    <form id="signup" action="/" method="get" class="form-inline">
                        <div class="form-group">
                            <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <button type="submit" class="theme_btn">GO!</button>
                        <div id="response"></div>
                    </form>
                </div>

                <div class="block widget_tweet col-md-3 col-sm-4 to_animate">
                    <h3>Twitter Widget</h3>
                    <div class="twitter"></div>
                </div>
                <div class="block widget_schedule col-md-3 col-sm-4 to_animate">
                    <h3>Opening Hours</h3>
                    <dl class="dl-horizontal">
                        <dt>Monday-Friday</dt>
                        <dd><strong>9:00 - 21:00</strong></dd>
                        <dt>Saturday</dt>
                        <dd><strong>9:00 - 20:00</strong></dd>
                        <dt>Sunday</dt>
                        <dd><strong>9:00 - 16:00</strong></dd>
                    </dl>
                </div>


            </div>
        </div>
    </footer>

    <section id="copyright" class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    Copyright - Health &amp; Beauty Template by <a href="http://modernbootstrapthemes.com">Modern Bootstrap Themes</a>
                </div>
            </div>
        </div>
    </section>

    <div class="preloader">
        <div class="preloaderimg"></div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")

    <!-- Map Scripts -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
            var lat;
            var lng;
            var map;

            function attachSecretMessage(marker, message)
            {
                var infowindow = new google.maps.InfoWindow(
                    { content: message
                    });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map,marker);
                });
            }

            window.dxmapLoadMap = function()
            {
                var center = new google.maps.LatLng(lat, lng);
                var settings = {
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoom: 16,
                    draggable: false,
                    scrollwheel: false,
                    center: center
                };
                map = new google.maps.Map(document.getElementById('map'), settings);

                var marker = new google.maps.Marker({
                    position: center,
                    title: 'Map title',
                    map: map
                });
                marker.setTitle('Map title'.toString());
            //type your map title and description here
            attachSecretMessage(marker, '<h3>Map title</h3>Map HTML description');
            }


            //type your address after "address="
            jQuery.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=london, baker street, 221b&sensor=false', function(data) {
                lat = data.results[0].geometry.location.lat;
                lng = data.results[0].geometry.location.lng;
            }).complete(function(){
                dxmapLoadMap();
            });

    </script>

</body>
</html>
