@using Mybrus.Language;

@model IEnumerable<EFColuc.xProduct>
@{
    var prdDetail = ((IEnumerable<EFColuc.xProduct>)ViewBag.prdDetail).FirstOrDefault();
    var imgs = prdDetail.image.Split(';').ToList();
    var imgPath = Url.Content("~/Content/images/demo/shop/");
    var prdDiscount = TNTHelper.AppSettings.Get<int>("productDiscount");
}
<section class="container mt30l15r10">

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                @foreach (var img in imgs)
                {
                    <div>
                        <img alt="" class="img-responsive" src="@(imgPath + img)" onerror="Mybrus.Common.ImageError(this);">
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-6 col-md-6">

            <!-- product detail -->
            <form class="form-inline productDescription noajax" method="get" action="shop-cart.html" role="form">

                <!-- hidden fields -->
                <input type="hidden" name="action" value="cart_add" />
                <input type="hidden" name="product_id" value="1" />

                <h2 class="product-title">@prdDetail.name</h2>

                <!-- product unique code -->
                <span class="code">@prdDetail.code</span>
                <!-- /product unique code -->
                <!-- product price -->
                <div class="productRowInfo">
                    <span class="price styleSecondColor fsize20">@prdDetail.price.ToString("C")</span>
                    @*<span class="oldprice">$43.00</span>*@
                </div>
                <!-- /product price -->

                <div class="row attributes">

                    <div class="row">
                        <div class="col-md-7">

                            <!-- product color -->
                            <div class="col-md-6 col-sm-6">
                                <label class="block" for="product_color">Color</label>
                                <select class="form-control pointer" name="product_color" id="product_color">
                                    <option value="red">Red</option>
                                    <option value="blue">Blue</option>
                                    <option value="cherry">Cherry</option>
                                </select>
                            </div>
                            <!-- /product color -->
                            <!-- product size -->
                            <div class="col-md-6 col-sm-6">
                                <label class="block" for="product_size">Size</label>
                                <select class="form-control pointer" name="product_size" id="product_size">
                                    <option value="l">L</option>
                                    <option value="m">M</option>
                                    <option value="xxl">XXL</option>
                                </select>
                            </div>
                            <!-- /product size -->
                        </div>

                    </div>

                </div>


                <div class="row">
                    <!-- quantity + @Lang.Cart_Add -->
                    <div class="row">
                        <div class="col-md-7 col-sm-12">

                            <div class="addCartBtn">
                                <div class="input-group">
                                    <input type="text" name="product_qty" id="product_qty" class="text-center form-control" value="1" placeholder="Qty" />
                                    <span class="input-group-btn">
                                        <button id="addToCartBtn" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> @Lang.Cart_Add</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>

                        </div>
                    </div>
                    <!-- /quantity + @Lang.Cart_Add -->
                </div>

                <!-- product description -->
                <div class="desc">
                    <h3 class="page-header">DESCRIPTION</h3>
                    <p>
                        @prdDetail.description
                    </p>
                </div>
                <!-- /product description -->

                <div class="socialApis">
                    <h3 class="page-header">TELL TO YOUR FRIENDS</h3>

                    <!-- facebook -->
                    <div class="api">
                        <div class="fb-like" data-href="https://www.facebook.com/stepofweb" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>

                    <!-- twitter -->
                    <div class="api">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                    </div>

                    <!-- google plus -->
                    <div class="api">
                        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
                    </div>

                </div>

            </form>
            <!-- product detail -->

        </div>
    </div>
    <hr />
    <!-- RELATED -->
    <h2><strong>Related</strong> Products</h2>
    <div id="shop" class="row">
        @foreach (var xp in Model)
        {
            <div class="col-sm-6 col-md-3">
                <!-- item -->
                <div class="item-box fixed-box">
                    <figure>
                        <a class="item-hover" href="@Url.Action("Detail", "Home", new { id = xp.productid })">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @Lang.Prod_Detail
                            </span>
                        </a>
                        <a href="shop-cart.html" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> @Lang.Cart_Add</a>
                        <img class="img-responsive" src="@(string.Format("{0}/{1}",imgPath, xp.image))" width="260" height="260" alt="" onerror="Mybrus.Common.ImageError(this);">
                    </figure>
                    <div class="item-box-desc">
                        <h4>@xp.name</h4>
                        <small class="styleColor">
                            <span>@xp.price.ToString("C")</span>
                            @((xp.price - (xp.price * prdDiscount) / 100).ToString("C"))
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /RELATED -->

</section>
