@using TNTHelper;
@using Mybrus.Extensions;
@using Mybrus.Language;

@model IEnumerable<EFColuc.xProduct>
@{
    var prdDetail = ((IEnumerable<EFColuc.xProduct>)ViewBag.prdDetail).FirstOrDefault();
    var imgs = prdDetail.GetImages();//prdDetail.image.Split(';').ToList();
    var imgPath = Url.Content(Mybrus.Controllers.BaseController.ImagePath);
    var prdDiscount = TNTHelper.AppSettings.Get<int>("productDiscount");
    //Updat image
    prdDetail.image = prdDetail.GetImageSet().Path;
    var jsPrdDetail = Newtonsoft.Json.JsonConvert.SerializeObject(prdDetail);
}

<section class="container mt30l15r10">

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                @foreach (var img in imgs)
                {
                    <div>
                        <img alt="" class="img-responsive" src="@(imgPath + img.Path)" onerror="TNT.Common.ImageError(this);">
                    </div>
                }
            </div>
        </div>

        <div id="scopeBuy" class="col-sm-6 col-md-6">
            <h2 class="product-title">@prdDetail.name</h2>
            <!-- product unique code -->
            <span class="code">@prdDetail.code</span>
            <!-- /product unique code -->
            <!-- product price -->
            <div class="productRowInfo">
                <span class="price styleSecondColor fsize20">
                    @prdDetail.price.ToString("C")
                </span>
                @*<span class="txt-strike">@((prdDetail.price + (prdDetail.price * prdDiscount) / 100).ToString("C"))</span>*@
            </div>
            <!-- /product price -->
            <div class="row attributes">
                <div class="row">
                    <div class="col-md-7">
                        <!-- product color -->
                        <div class="col-md-6 col-sm-6">
                            <label class="block" for="product_color">Color</label>
                            <select class="form-control pointer" name="product_color" id="product_color">
                                <option value="red">Natual</option>
                            </select>
                        </div>
                        <!-- /product color -->
                        <!-- product size -->
                        <div class="col-md-6 col-sm-6">
                            <label class="block" for="product_size">Size</label>
                            @Html.DropDownList("ddlSize", (IEnumerable<SelectListItem>)ViewBag.prdSize)
                        </div>
                        <!-- /product size -->
                    </div>

                </div>

            </div>
            <div class="row">
                <!-- quantity + @BrusLang.Cart_Add -->

                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="addCartBtn mt10">
                            <div class="input-group">
                                <input type="text" name="product_qty" id="product_qty" class="text-center form-control" value="1" placeholder="Qty" />
                                <span class="input-group-btn">
                                    <button id="addToCartBtn" class="btn btn-primary" onclick="TNT.Cart.Add(@jsPrdDetail);">
                                        <i class="fa fa-shopping-cart"></i> @BrusLang.Cart_Add
                                    </button>
                                    <button id="buyNow" class="btn btn-primary" onclick="TNT.Stripe.Checkout(@jsPrdDetail, this);">
                                        <i class="fa fa-usd"></i> Buy Now
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </div>

                    </div>
                </div>
                <!-- /quantity + @BrusLang.Cart_Add -->

            </div>
            <!-- product description -->
            <div class="desc">
                <h3 class="page-header">DESCRIPTION</h3>
                <p>
                    @prdDetail.description
                </p>
            </div>
            <!-- /product description -->
            <div class="socialApis">
                <h3 class="page-header">TELL TO YOUR FRIENDS</h3>

                <!-- facebook -->
                <div class="api">
                    <div class="fb-like" data-href="https://www.facebook.com/stepofweb" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>

                <!-- twitter -->
                <div class="api">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                </div>

                <!-- google plus -->
                <div class="api">
                    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
                </div>

            </div>
        </div>
    </div>
    <hr />
    <!-- RELATED -->
    <h2><strong>Related</strong> Products</h2>
    <div id="shop" class="row">
        @foreach (var xp in Model)
        {
            jsPrdDetail = Newtonsoft.Json.JsonConvert.SerializeObject(xp);
            <div class="col-sm-6 col-md-3">
                <!-- item -->
                <div class="item-box fixed-box">
                    <figure>
                        <a class="item-hover" href="@Url.Action("Detail", "Home", new { id = xp.productid })">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @BrusLang.Prod_Detail
                            </span>
                        </a>
                        <a href="#" class="btn btn-primary add_to_cart" onclick="TNT.Cart.Add(@jsPrdDetail);">
                            <i class="fa fa-shopping-cart"></i> @BrusLang.Cart_Add
                        </a>
                        <a href="#" class="btn btn-primary buy_now" onclick="TNT.Stripe.Checkout(@jsPrdDetail);">
                            <i class="fa fa-usd"></i> BUY NOW
                        </a>
                        <img class="img-responsive" src="@(string.Format("{0}/{1}",imgPath, xp.image))" width="260" height="260" alt="" 
                             onerror="TNT.Common.ImageError(this);">
                    </figure>
                    <div class="item-box-desc">
                        <h4>@xp.name</h4>
                        <small class="styleColor">
                            <b>@xp.price.ToString("C")</b>
                            @*@((xp.price - (xp.price * prdDiscount) / 100).ToString("C"))*@
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /RELATED -->

</section>

