@using Mybrus.Language;
@model IEnumerable<EFColuc.xProduct>

@{
    var spProduct = ViewBag.splProduct;
    var urlTemp = Url.Action("Detail", "Home");
    var imgPath = Url.Content("~/Content/images/demo/shop/");
    var lstBgdImg = new string[]{
        "medium_bg_darkblue",
        "medium_bg_orange",
    };
    var prdDiscount = TNTHelper.AppSettings.Get<int>("productDiscount");
    var jsPrdDetail = string.Empty;
}
<!-- REVOLUTION SLIDER -->
<div class="fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="3dcurtain-vertical" ddata-slotamount="15" data-masterspeed="300" data-delay="3000">

                <!-- COVER IMAGE -->
                <img src="~/Content/images/demo/revolution_slider/sliderbg.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption large_bold_grey lfl stl"
                     data-x="18"
                     data-y="233"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
                    Mybrus Shopping
                </div>

                <div class="tp-caption large_bold_grey medium_thin_grey lfl stl"
                     data-x="18"
                     data-y="200"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
                    <a target="_blank" href="#">BUY NOW</a>
                </div>

                @foreach (var xp in spProduct)
                {
                    <div class="tp-caption lft"
                         data-x="right" data-hoffset="-20"
                         data-y="0"
                         data-speed="600"
                         data-start="1100"
                         data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine">
                        <a href="@(string.Format("{0}/{1}", urlTemp, xp.productid))">
                            <img src="@(string.Format("{0}/{1}", imgPath, xp.image))" alt="Image 1" onerror="TNT.Common.ImageError(this);" />
                        </a>
                    </div>
                    <div class="tp-caption @lstBgdImg[new Random().Next(0, 1)] sft stb"
                         data-x="720"
                         data-y="200"
                         data-speed="300"
                         data-start="1400"
                         data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">
                        @xp.name
                    </div>

                    <div class="tp-caption @lstBgdImg[new Random().Next(0, 1)] sfb stb"
                         data-x="720"
                         data-y="150"
                         data-speed="300"
                         data-start="1700"
                         data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine">
                        @xp.price.ToString("C")
                    </div>
                }
            </li>

            <!-- SLIDE -->
            <li data-transition="curtain-2" data-slotamount="5" data-masterspeed="700">

                <!-- COVER IMAGE -->
                <img src="~/Content/images/demo/revolution_slider/slider7.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption large_text sft"
                     data-x="center"
                     data-y="100"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">
                    TODAY BEST DEAL
                </div>

                <div class="tp-caption medium_bold_red medium_light_red sfr"
                     data-x="center"
                     data-y="75"
                     data-speed="300"
                     data-start="1100"
                     data-easing="easeOutExpo">
                    <a href="#" target="_blank">PURCHASE NOW</a>
                </div>
                @foreach (var xp in spProduct)
                {
                    <div class="tp-caption lfb text-center"
                         data-x="270"
                         data-y="200"
                         data-speed="900"
                         data-start="1700"
                         data-easing="easeOutBack">
                        <a class="fsize20" href="@(string.Format("{0}/{1}", urlTemp, xp.productid))">
                            <img class="block hover-scale" src="@(string.Format("{0}/{1}", imgPath, xp.image))" width="200" height="200" alt="" onerror="TNT.Common.ImageError(this);" />
                            <strong>@xp.price.ToString("C")</strong>
                        </a>
                    </div>
                }
            </li>
        </ul>

        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /REVOLUTION SLIDER -->
<section class="container text-center">
    <h1 class="text-center">
        <strong>Welcome</strong> to Mybrus
        <span class="subtitle">@Lang.Slogan</span>
    </h1>
    <p class="lead">
        @*Description here*@
    </p>
</section>

<div id="shop">

    <section class="container">
        <div class="row">
            @foreach (var xp in Model)
            {
                jsPrdDetail = Newtonsoft.Json.JsonConvert.SerializeObject(xp);
                <div class="col-sm-6 col-md-3">
                    <!-- item -->
                    <div class="item-box fixed-box">
                        <figure>
                            <a class="item-hover" href="@(string.Format("{0}/{1}", urlTemp, xp.productid))">
                                <span class="overlay color2"></span>
                                <span class="inner">
                                    <span class="block fa fa-plus fsize20"></span>
                                    @Lang.Prod_Detail
                                </span>
                            </a>
                            <a href="#" class="btn btn-primary add_to_cart" onclick="TNT.Cart.Add(@jsPrdDetail);">
                                <i class="fa fa-shopping-cart"></i> @Lang.Cart_Add
                            </a>
                            <a href="#" class="btn btn-primary buy_now" onclick="TNT.Stripe.Checkout(@jsPrdDetail);">
                                <i class="fa fa-usd"></i> BUY NOW
                            </a>                            
                            <img class="img-responsive" src="@(string.Format("{0}/{1}", imgPath, xp.image))" width="260" height="260" alt="" onerror="TNT.Common.ImageError(this);">
                        </figure>
                        <div class="item-box-desc">
                            <h4>@xp.name</h4>
                            <small class="styleColor">
                                <span>@xp.price.ToString("C")</span>
                                @((xp.price - (xp.price * prdDiscount) / 100).ToString("C"))
                            </small>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
</div>

<!-- CALLOUT -->
<section class="container">

    <div class="row bs-callout nomargin-bottom">
        <div class="col-md-8 text-center">
            <h3 class="padding20">@Lang.Subscribe</h3>
        </div>
        <div class="col-md-4">
            <p class="nomargin">@Lang.Subscribe_Email</p>
            <form method="get" action="#" class="input-group">
                <input type="text" class="form-control" name="s" id="s" value="" placeholder="E-mail Address" />
                <span class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>
    </div>

</section>
<!-- /CALLOUT -->

