@model TNT.Core.Model.Identity.AppUser

@{
    ViewBag.Title = "User Details";
}
<div class="mt30l15r10">
    <div>
        <h4>@ViewBag.Title</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    </div>
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Edit", "UserEdit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Users")
    </p>


</div>




