@using Mybrus.Extensions;
@using Mybrus.Language;

@{
    var cartUrl = Url.Action("Cart", "Home");
    var prodDetail = Url.Action("Detail", "Home");
    var ccUrl = Url.Action("CC", "Home");
}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="vi" />
    <title>Wellcome to Mybrus.</title>
    <meta name="keywords" content="nail, spa, brush" />
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!-- WEB FONTS -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />*@
    <!-- CORE CSS -->
    @Styles.Render("~/Content/css_core")
    @Styles.Render("~/Content/css_slider")
    @Styles.Render("~/Content/css_theme")
    @Styles.Render("~/Content/css_themestyle")
    <link href="~/Content/css/common.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/main")
    <script src="https://checkout.stripe.com/checkout.js"></script>

</head>
<body class="boxed">
    <!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="~/Content/images/boxed_background/1.jpg"  -->
    <!-- Top Bar -->
    <header id="mySettings">
        <input type="hidden" id="img-Error" value="@Url.Content("~/Content/images/error.jpg")">
        <input type="hidden" id="img-Mybrus" value="@Url.Content("~/Content/images/error.jpg")">
        <input type="hidden" id="url-Charge" value="@Url.Action("Home", "Charge")">
    </header>
    
    <header id="topHead" class="color">
        <div class="container">
            <!-- PHONE/EMAIL -->
            <span class="quick-contact pull-left">
                <a href="tel:1-314-914-243">
                    <i class="fa fa-phone"></i> 1-314-914-243
                </a>
                <a href="mailto:luc.huynh78@gmail.com">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span class="hidden-xs">luc.huynh78@gmail.com</span>
                </a>
            </span>
            <!-- /PHONE/EMAIL -->
            <!-- LANGUAGE -->
            <div class="btn-group pull-right">
                <button id="dnmLanguage" class="dropdown-toggle language" type="button" data-toggle="dropdown">
                    <img src="~/Content/images/flags/us.png" width="16" height="11" />
                    <span id="spanLanguage">@Lang.Language</span>
                    <span class="caret"></span>
                </button>
                <ul id="ulLanguage" class="dropdown-menu">
                    <li>
                        <a href="#">
                            <img id="EN" src="~/Content/images/flags/us.png" width="16" height="11" alt="EN Language" /> [US] English
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img id="VN" src="~/Content/images/flags/de.png" width="16" height="11" alt="VN Language" /> [VN] Vietnamese
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /LANGUAGE -->
            <!-- SIGN IN -->
            @{Html.RenderPartial("_LoginPartial");}
            <!-- /SIGN IN -->
            <!-- CART MOBILE BUTTON -->
            <a class="pull-right" id="btn-mobile-quick-cart" href="@cartUrl"><i class="fa fa-shopping-cart"></i></a>
            <!-- CART MOBILE BUTTON -->
            <!-- LINKS -->
            <div class="pull-right nav hidden-xs">
                <a href="@Url.Action("About","Home")"><i class="fa fa-angle-right"></i> @Lang.About</a>
                <a href="@Url.Action("Contact", "Home")"><i class="fa fa-angle-right"></i> @Lang.Contact</a>
            </div>
            <!-- /LINKS -->

        </div>
    </header>
    <!-- /Top Bar -->
    <!-- TOP NAV -->

    <header id="topNav" class="topHead">
        <!-- remove class="topHead" if no topHead used! -->
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo text or image -->
            <a class="logo" href="@Url.Action("Index", "Home")">
                @*<img src="~/Content/images/logo.png" alt="Atropos" />*@
                @Lang.SiteName
            </a>

            <!-- Top Nav -->
            <div class="navbar-collapse nav-main-collapse collapse pull-right">
                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                        <li class="active">
                            <a href="@Url.Action("Index", "Home")">
                                @Lang.Home
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                @Lang.BrushBrand @*<i class="fa fa-angle-down"></i>*@
                            </a>
                            @{Html.RenderAction("PtBrandMenu", "Product");}

                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole(ESettings.Get.Value(ESettings.Role.Admin)))
                            {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                Administrator
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Users", "Manage")">User Management</a></li>
                                <li><a href="@Url.Action("Role", "Manage")">Role Management</a></li>
                                <li><a href="blog-post.html">Customer Management</a></li>
                                <li><a href="blog-post.html">Special Event</a></li>
                            </ul>
                        </li>
                            }
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                Site Management
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Product")">Product Management</a></li>
                                <li><a href="blog-post.html">Sale Report</a></li>
                            </ul>
                        </li>
                        }
                        <!-- GLOBAL SEARCH -->
                        <li class="search">
                            <!-- search form -->
                            <form method="get" action="#" class="input-group pull-right">
                                <input type="text" class="form-control" name="k" id="k" value="" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary notransition"><i class="fa fa-search"></i></button>
                                </span>
                            </form>
                            <!-- /search form -->
                        </li>
                        <!-- /GLOBAL SEARCH -->
                        <!-- QUICK SHOP CART -->
                        <li class="quick-cart">
                            <span class="badge pull-right">3</span>

                            <div class="quick-cart-content">

                                <p><i class="fa fa-warning"></i> You have 3 products on your cart</p>

                                <a class="item" href="@prodDetail">
                                    <!-- item 1 -->
                                    <img class="pull-left" src="~/Content/images/demo/shop/thumb/1.jpg" width="40" alt="quick cart" />
                                    <div class="inline-block">
                                        <span class="title">Man shirt XL</span>
                                        <span class="price">2 &times; $44.00</span>
                                    </div>
                                </a><!-- /item 1 -->

                                <a class="item" href="@prodDetail">
                                    <!-- item 2 -->
                                    <img class="pull-left" src="~/Content/images/demo/shop/thumb/2.jpg" width="40" alt="quick cart" />
                                    <div class="inline-block">
                                        <span class="title">Great Black Shoes For Man and Only Man...</span>
                                        <span class="price">2 &times; $44.00</span>
                                    </div>
                                </a><!-- /item 2 -->

                                <a class="item" href="@prodDetail">
                                    <!-- item 3 -->
                                    <img class="pull-left" src="~/Content/images/demo/shop/thumb/4.jpg" width="40" alt="quick cart" />
                                    <div class="inline-block">
                                        <span class="title">Pink Lady Perfect Shoes</span>
                                        <span class="price">1 &times; $67.32</span>
                                    </div>
                                </a><!-- /item 3 -->
                                <!-- QUICK CART BUTTONS -->
                                <div class="row cart-footer">
                                    <div class="col-md-6 nopadding-right">
                                        <a href="@cartUrl" class="btn btn-primary btn-xs fullwidth">VIEW CART</a>
                                    </div>
                                    <div class="col-md-6 nopadding-left">
                                        <a href="@ccUrl" class="btn btn-info btn-xs fullwidth">CHECKOUT</a>
                                    </div>
                                </div>
                                <!-- /QUICK CART BUTTONS -->

                            </div>

                        </li>
                        <!-- /QUICK SHOP CART -->

                    </ul>

                </nav>
            </div>
            <!-- /Top Nav -->

        </div>

    </header>

    <span id="header_shadow"></span>
    <!-- /TOP NAV -->
    @if (User.Identity.IsAuthenticated && User.IsInRole(ESettings.Get.Value(ESettings.Role.Admin)))
    {
        Html.RenderPartial("_stylewitcher");
        <div id="showSwitcher" class="styleSecondColor"><i class="fa fa-angle-double-right"></i></div>
    }
    <div id="wrapper">
        @RenderBody()
    </div>

    <!-- FOOTER -->
    <footer>
        <!-- copyright , scrollTo Top -->
        <div class="footer-bar">
            <div class="container">
                <span class="copyright">Copyright &copy; 2015. All Rights Reserved.</span>
                <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
            </div>
        </div>
        <!-- copyright , scrollTo Top -->
        <!-- footer content -->
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <!-- FOOTER CONTACT INFO -->
                    <div class="column col-md-4">
                        @*<h3>CONTACT</h3>
                            <p class="contact-desc">
                                Contact description
                            </p>*@
                        @*<address class="font-opensans">
                                <ul>
                                    <li class="footer-sprite address">
                                        Street<br />
                                        address<br />
                                        address2<br />
                                    </li>
                                    @*<li class="footer-sprite phone">
                                        Phone: 1-314-914-3425
                                    </li>
                                    <li class="footer-sprite email">
                                        <a href="mailto:luc.huynh78@gmail.com">luc.huynh78@gmail.com</a>
                                    </li>* @
                                </ul>
                            </address>*@

                        <div class="post-item">
                            <span>Stree</span>
                        </div>
                        <div class="post-item">
                            <span>Address</span>
                        </div>
                    </div>
                    <!-- /FOOTER CONTACT INFO -->
                    <!-- FOOTER LOGO -->
                    <div class="column logo col-md-4 text-center">
                        <div class="logo-content">
                            @*<img class="animate_fade_in" src="~/Content/images/logo_footer.png" width="200" alt="" />*@
                            <h4>Logo</h4>
                        </div>
                    </div>
                    <!-- /FOOTER LOGO -->
                    <!-- FOOTER LATEST POSTS -->
                    <div class="column col-md-4 text-right">
                        @*<h3></h3>
                            <p class="contact-desc">
                                Contact description
                            </p>*@
                        <div class="post-item">
                            <a href="@Url.Action("Policy", "Home")">Privacy Policy</a>
                        </div>
                        <div class="post-item">
                            <a href="@Url.Action("TermsofUse", "Home")">Terms of Use</a>
                        </div>
                        @*<div class="post-item">
                                <small>JANUARY 2, 2014 BY ADMIN</small>
                                <h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                            </div>
                            <div class="post-item">
                                <small>JANUARY 2, 2014 BY ADMIN</small>
                                <h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                            </div>*@

                        @*<a href="blog-masonry-sidebar.html" class="view-more pull-right">View Blog <i class="fa fa-arrow-right"></i></a>*@

                    </div>
                    <!-- /FOOTER LATEST POSTS -->

                </div>

            </div>
        </div>
        <!-- footer content -->

    </footer>
    <!-- /FOOTER -->
    @RenderSection("scripts", required: false)

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <!--<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-X', 'domainname.com');
        ga('send', 'pageview');
    </script>
    -->

</body>
</html>
